@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #FAFAFA;
}

/* Smooth scrolling for anchor links */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}